<h1 style="font-size: 2em; margin-top: 2em;" align="center"><%= @book_title %></h1>

<p>This book was created using the <a href='http://github.com/nerab/manbook'><%= GENERATOR %></a> tool.</p>

<p>The cover image was published by CCAC North Library under CC BY 2.0. It can be found at <a href='http://www.flickr.com/photos/ccacnorthlib/4131076795/'>flickr</a>.</p>

