<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta name="generator" content="<%= GENERATOR %>">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <style type="text/css">
    h1 {font-size: 1.5em; margin-bottom: 1em;}
    h2 {font-size: 1.375em; margin: 1.25em 0 0.25em 0;}
    h3 {font-size: 1.25em; margin: 1.25em 0 0.25em 0;}
    h4 {font-size: 1.125em; margin: 1.25em 0 0.25em 0;}
    h5 {font-size: 1em; font-weight: bold; margin: 1.25em 0 0.25em 0;}
    h6 {font-size: 1.375em; font-weight: bold; margin: 1.25em 0 0.25em 0;}
    table {margin-top: 0.75em;}
    p {margin: .125em 0 .5em 0; text-indent: 0;}
    ul, ol, blockquote, pre, dl, hr {margin-top: .125em; margin-bottom: .5em;}
    .toc ul {list-style: none; padding-left: 0; margin-left: 20px;}
  </style>
  <title><%= @title || @book_title %></title>
</head>
<body>
<h1><%= @title || @book_title %></h1>
<%= yield %>
</body>
</html>
